@font-face {
    font-family: 'KotraLeap';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kotra/KotraLeap.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kotra/KotraLeap.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kotra/KotraLeap.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kotra/KotraLeap.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kotra/KotraLeap.ttf') format("truetype");
    font-display: swap;
}