@font-face {
    font-family: 'KotraBold';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kotra/KotraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/kotra/KotraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kotra/KotraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kotra/KotraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/kotra/KotraBold.ttf') format("truetype");
    font-display: swap;
}